html, body {
  font-family: "Helvetica", Arial, sans-serif;
  background-color: $white;
}
.body { background-color: $white;}
.header { background-color: $white;}
container.content {background-color: $white;}
.footer, .footer p { 
  background-color: $white; 
  font-size: 12px; 
  color: $midnight-blue;
  }
h1 { 
  color: $midnight-blue;
  font-size: 30px;
  }
h2 {
  font-weight: bold;
  color: $midnight-blue;
  font-size: 24px;
}
h3 {
  font-weight: bold;
  color: $midnight-blue;
  font-size: 18px;
}
h4 {
  color: $ninja-grey;
  font-size: 12px; 
  }
p {
  color: $midnight-blue;
  font-size: 16px;
}
a {
  color: $primary-color!important;
  text-decoration: none;
}
.divider {
  display: block;
  font-size: 2px;
  line-height: 2px; 
  margin-left: auto; 
  margin-right: auto;width: 40px;
  background-color: #afc7c7;
  margin-bottom: 20px;
}
.rss {
      color: $primary-color !important;
    }
.rss a {
      color: $primary-color !important;
    }
.rss a:visited {
      color: $primary-color !important;
    }
.meteo {
  display: inline;
  margin: 0;
}
img.meteo {max-width:100px; }



@media screen and (max-width: 760px){
  img.meteo {width:100px !important; }
}
@media screen and (max-width: 480px){
  img.meteo {width:100px !important;}
  h1 {font-size: 32px !important;}
  h2 {font-size: 28px !important;}
  h3 {font-size: 16px !important;}
  h4 {font-size: 18px !important;}
  p {font-size: 14px !important;}
}